* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(182, 163, 163) 0%,
    rgb(140, 150, 236) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(
    135deg,
    rgb(34, 34, 241) 10%,
    rgb(216, 216, 39) 100%
  );
  border: none;
  border-radius: 20px;
  overflow: hidden;
}
